In [3]:
import pandas as pd

In [4]:
dataframe=pd.read_csv('collegePlace.csv')

In [9]:
dataframe.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,1,Electronics And Communication,1,8,1,1,1
1,21,0,Computer Science,0,7,1,1,1
2,22,0,Information Technology,1,6,0,0,1
3,21,1,Information Technology,0,8,0,1,1
4,22,1,Mechanical,0,8,1,0,1

In [10]:
dataframe.shape

(2966, 8)

In [11]:
dataframe['Gender'].replace({'Male':'1','Female':'0'},inplace=True)

In [12]:
dataframe.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,1,Electronics And Communication,1,8,1,1,1
1,21,0,Computer Science,0,7,1,1,1
2,22,0,Information Technology,1,6,0,0,1
3,21,1,Information Technology,0,8,0,1,1
4,22,1,Mechanical,0,8,1,0,1

In [13]:
dataframe['Stream'].unique()

array(['Electronics And Communication', 'Computer Science',
       'Information Technology', 'Mechanical', 'Electrical', 'Civil'],
      dtype=object)

In [14]:
dataframe['Stream'].replace({'Electronics And Communication':'0','Computer Science':'1','Information Technology':'2','Mechanical':'3','Electrical':'4','Civil':'5'},inplace=True)

In [15]:
dataframe.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,1,0,1,8,1,1,1
1,21,0,1,0,7,1,1,1
2,22,0,2,1,6,0,0,1
3,21,1,2,0,8,0,1,1
4,22,1,3,0,8,1,0,1

In [68]:
dataframe=pd.read_csv('newdata.csv')
dataframe.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,1,0,1,8,1,1,1
1,21,0,1,0,7,1,1,1
2,22,0,2,1,6,0,0,1
3,21,1,2,0,8,0,1,1
4,22,1,3,0,8,1,0,1

In [69]:
import matplotlib.pyplot as plt

In [70]:
age=dataframe['Age']
stream=dataframe['Stream']
internship=dataframe['Internships']
cgpa=dataframe['CGPA']
hostel=dataframe['Hostel']
backlog=dataframe['HistoryOfBacklogs']
Y=dataframe['PlacedOrNot']

In [71]:
# plt.scatter(dataframe,Y)

In [72]:
y=dataframe["PlacedOrNot"]
x=dataframe.drop('PlacedOrNot',axis=1)

In [73]:
x

      Age  Gender  Stream  Internships  CGPA  Hostel  HistoryOfBacklogs
0      22       1       0            1     8       1                  1
1      21       0       1            0     7       1                  1
2      22       0       2            1     6       0                  0
3      21       1       2            0     8       0                  1
4      22       1       3            0     8       1                  0
...   ...     ...     ...          ...   ...     ...                ...
2961   23       1       2            0     7       0                  0
2962   23       1       3            1     7       1                  0
2963   22       1       2            1     7       0                  0
2964   22       1       1            1     7       0                  0
2965   23       1       5            0     8       0                  0

[2966 rows x 7 columns]

In [74]:
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, Y_train, Y_test= train_test_split(x,y,test_size=0.1)

In [97]:
from xgboost import XGBClassifier

In [77]:
clf=XGBClassifier(learning_rate=0.09,n_estimators=150)

In [78]:

clf.fit(X_train,Y_train,eval_metric="logloss")

c:\users\riyas\pycharmprojects\ccproject\venv\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.09, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=150, n_jobs=2,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [108]:
# predictions=clf.predict()
list(X_test)

['Age',
 'Gender',
 'Stream',
 'Internships',
 'CGPA',
 'Hostel',
 'HistoryOfBacklogs']

In [99]:
Y_test

574     1
420     0
450     1
583     0
2489    1
       ..
2961    0
2911    0
2505    1
1643    1
596     1
Name: PlacedOrNot, Length: 297, dtype: int64

In [89]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,predictions))

0.8787878787878788